
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
hr.division{
    background-color: #0fbfae;
    width: 100%;
    height: 15px;
    margin: 0%;
}
hr.division-plata{
    background-color: gray;
    width: 100%;
    height: 5px;
    margin: 0%;
}
hr.division-verde{
    background-color: #11c020;
    width: 100%;
    height: 5px;
    margin: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'lato',sans-serif;
}
body{
    // background-color: $p1c2;
    background: rgb(242,242,242);
    background: -moz-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(159,161,166,0.6166666495699842) 100%);
    background: -webkit-linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(159,161,166,0.6166666495699842) 100%);
    background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(159,161,166,0.6166666495699842) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#9fa1a6",GradientType=1);    
}
@mixin paleta-menu {
    background-color: $p1c1;
    color: $p1c2;
    
}
@mixin paleta-subtitltulos {
    background-color: $p1c3;
    color: $p1c1;
}

@mixin paleta-texto {
    
}
h1.t{
    @include paleta-subtitltulos;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.8;
}
h2.subtitle{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}
// deG
.nav{
    @include paleta-menu;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-family: "lato",sans-serif;

    &_list{
        list-style-type: none;
        
        &_item{
            display: inline-block;
            padding: 10px 50px;
            a{
                @include paleta-menu;
                text-decoration: none;
            }
            a:hover{
                color: $p1c1;
            }
        }
    }

}
.logo{
    height: 12vh;
    padding: 5px 5px;
}
.menu{
    display: none;

    &_line{
        width: 20px;
        height: 3px;
        background-color: $p1c2;
        margin-bottom: 4px;
    }
}
.carrusel{
    width: 80vw;
    // height: 2rem;
    margin: auto;
    padding: 0;
}
footer{
    width: 100%;
    height: 40vh;
    border: 1px solid;
    background-color: $p1c1;
    color: #f2f2f2;
    display:grid;
    grid-template-columns: 20% 20% 20% 25%;
    grid-template-rows: 250px;
    gap: 5px;
    align-content: center;
    justify-content: center;
    div.f-item{
        /*border: 1px solid red ;*/
        align-self:center;
        div.fitem:nth-child(4){
            align-self: start;
            height: 240;
        }
        iframe.map{
            width: 100%;
            height: 240px; 
        }
    }
}

@media all and (max-width: 480px){
    .nav{
        flex-direction: column;
        position: relative;
        ul{
            padding-left: 0;
        }
    }
    .nav_logo{
        width: 100%;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .nav_list_item {
        display: block;
        padding: 10px 10px;
        border-top: 1px solid white;
    }
    .nav_list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .active{
        display: block;
    }
}