section.carrusel{
    // width: 100%;
    height: 80vp;
    // margin-top: 5px;
    margin-bottom: 50px;
    button.carousel-control-next{
      margin-top: 200px;
    
    }
}


section.descripcion{
    width: 90%;
    margin: auto;
    height: 200px;
    p{
      font-size: 2rem;
      text-align: justify;
    }
}
section.marca{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  h2{
    color: #1D3759;
    font-size: 2.6rem;
  }
}
section.servicios{
    width: 90%;
    margin: auto;
}

section.productos-destacados{
    width: 98%;
    margin: auto;
 
}
// cuadro de servicios -----------------------------




// final de lcuadro de servicios-----------------------------

/* ----------------- cards---------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);


h3 {
  font-size: 1.3em;
  margin:0;
}
p{
  font-size:0.9em;
}

/* Hover Card 
.......................................................................*/
div.catCard {
  border: solid 5px #e9e9e9;
  background: #d8d8d8;
  width: 221px;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden;
}
div.lowerCatCard {
  position: absolute; 
  background: #e9e9e9;
  padding: 5px 5px; 
  height: 200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  transition:         all 0.6s ease;
}
div.lowerCatCard:hover {
  opacity: 0.95;
  bottom: 0;
  height: 390px;
}
div.catCard  div.lowerCatCard { 
  left: 0; 
  bottom: -3%;
  width: 215px;
}
div.catCard:hover div.lowerCatCard { 
  bottom: 0;
}
li.catCardList {
  width:225px;
  display: inline-block;
  margin-right: 19px;
  margin-top: 25px;
}
li.catCardList-last {
  margin-right: 0;
  width:225px;
  display: inline-block;
}
ul.catCardList {
  margin: 0;
}
#catCardButton {
  position: absolute;
  width: 100%;
  bottom: 5px;
  transition: all 0.6s ease;
  transition:    all 0.6s ease;
  transition:      all 0.6s ease;
}
div.lowerCatCard:hover #catCardButton {
  bottom: 5px;
}
.startingPrice span {
  font-size: 16px;
  color: #c90c12;
  font-weight: 300;
}
div.startingPrice {
  margin-bottom: 5px;
  color: #000;
  font-weight: 300;
}
.catCard img {
  border: 1px solid #dddddd;
  width: 219px;
  height: 198px;
}
.catCard img:hover {
  border: 1px solid #bababa;
}

/* Button 
.......................................................................*/
.button {
  cursor: pointer;
  font-size: 14px !important;
  color: #ffffff;
  padding: 7px 10px !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  background: #000;
  border: none;
  border-bottom: solid 1px #c90c12;
  text-align: center;
  margin-top: 10px;
}
.button:hover {
  background-color: #0fbfae;
  border: none;
  border-bottom: solid 1px #000;
  box-shadow: 0 2px 3px #a8a8a8;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -ms-transform: scale(1.04);
}
.button:active {
  background: #000;
}
.button a {
  color: #ffffff;
  padding: 7px 30px !important;
  text-decoration: none;
}
.button a:hover {
  color: #ffffff;
}
.button:hover {
	color: #fff;
}
/*---------------------------------------------*/
section.principales-clientes{
    width: 90%;
    border: 1px solid;
    margin: auto;
    display: grid;
    grid-template-rows: 60px;
    gap: 14px;
    div.cliente{
        border: 5px solid #15BFBF;
        text-align: center;
        width: 100px;
    }
}
.imgCentrada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
// para marca representada
.marca{
    h2{
        font-size: 3rem;
        text-align: center;
        color: $p1c4;
    }
    img{
        filter: grayscale(1);
        transition: transform .8s;
    }
    img:hover{
        // transform: rotateZ(15deg);
        transform: scale(1.2,1.2);
        filter: grayscale(0);
    }
}

  /* principales clientes*/

  div.owl-carousel.owl-theme.owl-loaded.owl-drag{
    width: 96%;
    display: grid;
    margin: auto;
    margin-top: 50px;
    gap: 10px;
    div.item{
      width: 60%;
    }
  }
  div.owl-nav{
    margin: auto;
    font-size: 6rem;
  }

  