
    video.completo{
        margin: 0%;
        margin-top: 99px;
        height: 1100px;
    }

section.cuadro-1{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 450px;
    gap: 30px;
    align-items: center;
    div.info-nosotros{
        font-size: 2.1rem;
    }
    div.imagen-nosotros{
        margin-left: 100px;
        height: 460px;
        
        img{
            height: 100%;
            width: 90%;
        }
    }
}
section.principal-objetivo{
    
    height: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 100px;
    div.principal-objetivo{
        width: 90%;
        margin: auto;
    }
    
}
p.general{
    font-size: 2.1rem;
}
section.codigo-etica{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 200px;
    gap: 10px;
    justify-content: baseline;
    div.valor{
        text-align: center;
        img{
            width: 90%;
            height: 100%;
        }
    }
}
section.sectores-enfocados{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px;
    gap: 10px;
    align-content: center;
    div.sector{
            text-align: center;
            img{
                width: 90%;
                height: 99%;
            }
    }
}

div.certificados-texto{
    width: 90%;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 30px;
}

div.ajustador1{
    width: 89%;
    margin: auto;
    margin-top: 0%;
    button{
        padding: 6px;
        font-size: 2rem;
        margin-bottom: 50px;
        background-color: #1f3e79;
        color: aliceblue;
        cursor: pointer;
        transition: all 1s;
        a{
            text-decoration: none;
            color: aliceblue;
            &:hover{
                color: #1f3e79;
            }
        }
    }
    button:hover{
        background-color: azure;
        color: #1f3e79;
    }
}