section.cuadro-1{
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 450px;
    gap: 30px;
    align-items: center;
    div.info-nosotros{
        font-size: 1.7rem;
    }
    div.imagen-nosotros{
        height: 350px;
        
        img{
            border:2px solid #1f3e79;
            height: 100%;
            width: 70%;
        }
    }
}
section.codigo-etica{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 200px;
    gap: 10px;
    justify-content: baseline;
    div.valor{
        text-align: center;
        img{
            width: 90%;
            height: 100%;
        }
    }
}
section.sectores-enfocados{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px;
    gap: 10px;
    align-content: center;
    div.sector{
            text-align: center;
            img{
                width: 90%;
                height: 99%;
            }
    }
}
