/*  */
$p1c1: #1D3759;
$p1c2: #1B91BF;
$p1c3: #0FBFAE;
$p1c4: #BDD959;
$p1c5: #F2F2F2;

$p10c1: #252526;
$p10c2: #F2F2F2;
$p10c3: #D9D9D9;
$p10c4: #9FA1A6;
$p10c5: #3F8C7E;

$p2c1: #2A4359;
$p2c2: #AED3F2;
$p2c3: #93ABBF;
$p2c4: #01402E;
$p2c5: #D9D9D9;

$p3c1: #254021;
$p3c2: #49733D;
$p3c3: #5D8C3B;
$p3c4: #BFD989;
$p3c5: #E3F2AC;

$p4c1: #5C6373;
$p4c2: #96BFD9;
$p4c3: #B3DAF2;
$p4c4: #748C69;
$p4c5: #D9D9D9;

$p5c1: #0F8C2F;
$p5c2: #3DD964;
$p5c3: #3A8C4E;
$p5c4: #D9D9D9;
$p5c5: #0D0D0D;

$p6c1: #585859;
$p6c2: #0442BF;
$p6c3: #0339A6;
$p6c4: #034AA6;
$p6c5: #8C8B88;

$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);

