.footer-w {
    background-color: #D8EEED;
    position: relative;
    height: 50vh;
    text-align: center;
    padding: 200px;
  }
  
  .wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }
  
  .wave svg {
      position: relative;
      display: block;
      width: calc(136% + 1.3px);
      height: 360px;
      transform: rotateY(180deg);
  }
  
  .wave__shape {
      fill: #fff;
  }